@charset 'utf-8';
@import '@/assets/scss/variable.scss';

input[type="input"].vc-text-base,
input[name="datepicker"] {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}

.keyword_wrap.date_wrap {
  input[name="datepicker"] {
    color: black !important;
    margin: 0 !important;
    font-size: 1rem;
  }
}

.form_wrap {
  .input_calendar {
    width: calc(100% - 1.286rem);
  }
}