@charset 'utf-8';
@import '@/assets/scss/variable.scss';

.modal {
  z-index: 1000;

  &.scrolling {
    .content_wrap {
      height: calc(100% - 4rem);
      overflow-y: scroll;
    }
  }

  .header_wrap {
    position: relative;
    padding: 1rem;
    background-color: rgba($primary, .5);
    @include grab;
    @include clearfix;
  }

  .header {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .closeButton {
    display: inline-block;
    cursor: pointer;
  }

  .closeButton::before {
    position: absolute;
    top: .9rem;
    right: 1rem;
    font-size: 1.5rem;
    content: '✖️';
  }

  .content_wrap {
    padding: 1rem;
    @include clearfix;
  }
}
