@charset 'utf-8';
@import '@/assets/scss/variable.scss';


.keyword_wrap.toggle_wrap {
  width: 2.571rem;
  margin-right: 1rem;
  color: $gray;

  .active {
    color: $primary;
  }
}

.checkbox-container {
	display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0 .5rem;
}

.checkbox-container label {
  background-color: $gray-light;
	border: 1px solid $gray-light;
  border-radius: 1.429rem;
	display: inline-block;
	position: relative;
	transition: all .3s ease-out;
	width: 3.2142rem;
	height: 1.7857rem;
	z-index: 2;
}

.checkbox-container label::after {
	content: ' ';
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: .0714rem;
	left: .0714rem;
	transform: translateX(0);
	transition: transform 0.3s linear;
	width: 1.5rem;
	height: 1.5rem;
	z-index: 3;
}

.checkbox-container input {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}

.checkbox-container input:checked + label::after {
	transform: translateX(calc(100% + .036rem));
}

.active-circle {
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% - .7143rem), calc(-50% - .1429rem)) scale(0);
	transition: transform .6s ease-out;
	width: 2.143rem;
	height: 2.143rem;
	z-index: 1;
}

.checkbox-container.green .active-circle,
.checkbox-container.green input:checked + label {
  background-color: #47B881;
  border: 1px solid #47B881;

}

.checkbox-container.yellow .active-circle,
.checkbox-container.yellow input:checked + label {
  background-color: #F7D154;
  border: 1px solid #F7D154;

}

.checkbox-container.purple .active-circle,
.checkbox-container.purple input:checked + label {
  background-color: #735DD0;
  border: 1px solid #735DD0;

}

.checkbox-container.primary .active-circle,
.checkbox-container.primary input:checked + label {
  background-color: $primary;
  border: 1px solid $primary;
}
